@charset "utf-8";
/* CSS Document */

span {
	font-size: 90%;
}

label {
	font-size: 1.2em;
	padding-right: .5%;
	padding-left: 2%;
}

input {
	font-size: 110%; 
	color: rgb(0,0,48); 
	background-color: rgba(48,149,163, .15); 
	border: 1px solid; 
	border-radius: 5px; 
	box-shadow: 0 0 10px rgba(0,0,0,.1); 
	display: inline-block; 
	margin-bottom: 2%; 
	margin-top: 2%;
	text-align: justify;
}

a:link {
	display: block;
	color: #06a7e2;
	-webkit-color: #06a7e2;
	text-decoration: none;
}
a:visited {
	color: ;
}

#BG_Image {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: scroll;
	left: 0;
	top: 0;
	z-index: -1;
	overflow: scroll;
}

#banner { 
	position: fixed;
	top: 0;
	left: 0;
	background-color: #04243d;
	width: 100%;
	height: 5%;
}

#bannerimg {
	width: 100%;
}

#floater{
	position: fixed;
	background-color: #04243d;
	top: 97%;
	left: 0;
	width: 100%;
	height:20px;
}

#navi{
	display: inline-block;
	width: 100%;
	min-width: 220pt;
	height: 20px;
	margin-left: 1%;
	margin-right:1%;
	margin-top: 10%;
}

#navitext {
	font-size: 90%;
	color: #06a7e2;
	margin-top: .5%;
	margin-bottom: .5%;
	text-transform: uppercase;
}

#home {
	text-align: center;
	float: left;
	width: 30%;
	height: 32px;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 2%;
}

#culture {
	text-align: center;
	float: left;
	width: 30%;
	height: 32px;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 2%;
}

#menu {
	text-align: center;
	float: left;
	width: 30%;
	height: 32px;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 2%;
}

#events_box {
	display: inline-block;
	float: left;
	border: 4px double rgba(252, 170, 251, .85);
	border-radius:5px;
	box-shadow: 0 0 15px rgba(252, 170, 251, .95);
	width: 30%;
	min-width: 148px;
	max-width: 250px;
	padding: 10px 10px 10px 10px;
	margin: 10% 0px 0px 5%;
}

#event_text {
	text-align: center;
	padding: 10pt 10pt 10pt;
	margin-left: auto;
	margin-right: auto;
	font: left;
	clear:	left;	
}

#image_event {
	display: block;
	width: 100%;
}

#eventimg {
	display: inline-block;
	width: 100%;
	max-width: 450px;
	float: left;
	clear: left;
	padding-left: 0%;
	padding-right: 2.4%;
	padding-top: 3%;
	padding-bottom: 2.4%;
}

#search_box {
	display: inline-block;
	float: left;
	font-size: 77%;
	border: 4px double rgba(252, 170, 251, .85);
	border-radius:5px;
	box-shadow: 0 0 15px rgba(252, 170, 251, .95);
	width: 50%;
	min-width: 240px;
	height: 4.8%;
	padding: 5px 5px 5px 5px;
	margin: 10% 3% 0px 5%;

}

#past_box {
	display: inline-block;
	float: left;
	border: 4px double rgba(252, 170, 251, .85);
	border-radius:5px;
	box-shadow: 0 0 15px rgba(252, 170, 251, .95);
	width: 51%;
	height: 340px;
	min-width: 240px;
	margin-top: 20pt;
	margin: 2% 3% 0px 5%;
	overflow: scroll;
}

#past_box::-webkit-scrollbar {
    width: 12px;
}

#past_box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#past_box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#past_box::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(162,216,201, 0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
 }

#entry {
	display: inline-block;
	float: left;
	height: 116px;
	width: 180px;
	border: 1px solid rgba (19,46,71, .7); 
	box-shadow: 0 0 5px; 
	padding: 11pt 5pt 14.5pt 5pt;
	margin: .5%;
	text-align: center;
	font-size: 65%;
}

#past_eventimg {
	width: 85%;
	min-width: 20%;
}
